@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata');
* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.index-header {
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    height: 20%;
    overflow: hidden;
}

.profile-header {
    position: fixed;
    background-color: white;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 20%;
}

.reg-header {
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    height: 20%;
}

.img-fluid {
    background-size: 45px;
}

.container {
    position: relative;
    margin-right: 25px;
}

.green-square {
    position: absolute;
    background-color: #00644C;
    width: 135px;
    height: 100px;
    top: 20px;
    right: -20px;
    z-index: -1;
}

.autorizacija {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.profile-bold {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.green-line {
    position: absolute;
    background-color: #00644C;
    width: 255px;
    height: 5px;
    bottom: 30px;
}

.green-line-prof {
    position: absolute;
    height: 2px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #00644C;
    transform: translateY(-50%);
}

.lv {
    font-size: 30px;
    text-align: right;
    font-weight: bold;
    /* Adjust the font size as needed */
}

.container {
    max-width: 100%;
    padding: 0 15px;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-right: 150px;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    height: -webkit-fill-available;
    overflow-y: auto;
}

.input-box-password {
    position: relative;
    width: 100%;
    height: 45px;
    border-color: gainsboro;
    margin-top: 20px;
    border: none;
}

.input-box-email input {
    background-image: url(atteli/avatar.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    background-size: 45px;
    border-color: gainsboro;
    border-radius: 10px;
    padding-right: 60px;
    outline: none;
    padding: 15px;
    width: 450px;
    height: 65px;
    font-size: 30px;
}

.input-box-text {
    position: relative;
    width: 100%;
    height: 45px;
    border-color: gainsboro;
    margin-top: 20px;
    border: none;
}

.input-box-password-registration {
    position: relative;
    width: 100%;
    height: 45px;
    border-color: gainsboro;
    margin-top: 20px;
    border: none;
}

.input-box-email-registration {
    position: relative;
    width: 100%;
    height: 45px;
    border-color: gainsboro;
    margin-top: 20px;
    border: none;
}

.input-box-password input {
    background-image: url(atteli/lock.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    background-size: 45px;
    border-color: gainsboro;
    border-radius: 10px;
    padding-right: 60px;
    outline: none;
    padding: 15px;
    width: 450px;
    height: 65px;
    font-size: 30px;
}

.input-box-text input {
    border-color: gainsboro;
    border-radius: 10px;
    padding-right: 60px;
    outline: none;
    padding: 15px;
    width: 450px;
    height: 40px;
    font-size: 30px;
}

.input-box-password-registration input {
    border-color: gainsboro;
    border-radius: 10px;
    padding-right: 60px;
    outline: none;
    padding: 15px;
    width: 450px;
    height: 40px;
    font-size: 30px;
}

.input-box-email-registration input {
    border-color: gainsboro;
    border-radius: 10px;
    padding-right: 60px;
    outline: none;
    padding: 15px;
    width: 450px;
    height: 40px;
    font-size: 30px;
}

.remember-forgot {
    font-size: 20px;
    color: #00644C;
    margin-top: 15px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}

.remember-forgot a {
    color: #00644C;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    margin-top: 15px;
    background-color: #00644C;
    border-radius: 10px;
    border-color: transparent;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
}

.btn-log-in {
    width: 100%;
    height: 45px;
    margin-top: 15px;
    background-color: #00644C;
    border-radius: 10px;
    border-color: transparent;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
}

footer {
    width: 100%;
    background-color: #00644C;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 5%;
    overflow: hidden;
    height: 25%;
}

.footer div {
    text-align: center;
}

.list {
    font-size: 20px;
    color: #fff;
    flex-direction: column;
}

.list a {
    display: block;
    color: #fff;
    margin-top: 25px;
    text-decoration: none;
    white-space: nowrap;
}

.list a:hover {
    text-decoration: underline;
}

.info-list {
    font-size: 20px;
    color: #fff;
    flex-direction: column;
}

.info-list a {
    display: block;
    color: #fff;
    margin-top: 10px;
    text-decoration: none;
    white-space: nowrap;
}

.info-list a:hover {
    text-decoration: underline;
}

footer .col-1,
footer .col-2,
footer .col-3,
footer .col-4 {
    flex-grow: 1;
    text-align: left;
}

footer .col-1,
footer .col-2,
footer .col-3 {
    border-right: 1px solid #fff;
    padding-right: 30px;
}

footer .col-2,
footer .col-3,
footer .col-4 {
    padding-left: 30px;
}

footer h3,
footer p,
footer a {
    margin: 0;
    padding: 0;
    color: #fff;
}

footer h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

footer p {
    margin-bottom: 20px;
    font-size: 14px;
}

footer .col-1 {
    flex-grow: 0.8;
}

footer .col-1 h3,
footer .col-2 h3,
footer .col-3 h3,
footer .col-4 h3 {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

footer .col-1 h3,
footer .col-2 h3,
footer .col-3 h3,
footer .col-4 h3 {
    margin-right: 10px;
}

.wrapper-registration {
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow-y: auto;
    top: 0;
}

.form-box.login {
    padding: 20px;
    max-height: 80vh;
}

.navbar-container {
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.nav-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00644C;
    color: white;
    cursor: pointer;
}

.nav-item:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.nav-item:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.nav-item:not(:last-child) {
    border-right: 1px solid white;
}

.navbar-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.search-box {
    flex-grow: 1;
    margin-left: 40px;
}

.search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    width: 400px;
}

.language-currency {
    display: flex;
    align-items: center;
    margin-right: 75px;
    margin-top: 10px;
}

.latvian {
    margin-right: 8px;
    font-size: 22px;
}

.euro {
    margin-left: 8px;
}

.line-container {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    margin-top: 160px;
}

.horizontal-line {
    border: none;
    height: 3px;
    margin-top: 100px;
    background-color: #00644C;
    width: 100%;
}

.profile-information-row {
    display: flex;
    align-items: flex-start;
}

.column-profile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 50px;
    margin-top: 25px;
}

.profile-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.add-pic-button {
    border: 2px solid green;
    background-color: white;
    color: green;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.add-pic-button:hover {
    border: 2px solid green;
    background-color: green;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.remove-pic-button {
    margin-top: 5px;
    border: 2px solid red;
    background-color: white;
    color: red;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.remove-pic-button:hover {
    background-color: red;
    color: white;
}

.column-pic-buttons {
    padding: 10px;
    margin-top: 35px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.column-pic-requirments {
    display: flex;
    flex-direction: column;
    background-color: #E6E6E6;
    align-items: flex-start;
    margin-left: 20px;
    padding: 10px;
    width: 450px;
}

.profile1 {
    display: flex;
    flex-direction: column;
    border: 2px solid #E6E6E6;
    background-color: white;
    padding: 10px;
    margin: 10px;
    margin-left: 30px;
    max-height: calc(100vh - 150px);
    overflow-y: auto;
    width: -webkit-fill-available;
}

.profile2 {
    display: flex;
    flex-direction: column;
    border: 2px solid #E6E6E6;
    background-color: white;
    padding: 10px;
    margin: 10px;
    margin-left: 30px;
    width: -webkit-fill-available;
    max-height: calc(100vh - 150px);
    overflow-y: auto;
    margin-bottom: 260px;
}

.scroll-viewer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow: auto;
}

.scroll-viewer-reg {
    overflow: auto;
}

.column-pic-requirments p {
    margin-bottom: 10px;
}

.reg-body {
    position: absolute;
    top: 200px;
    left: 0px;
    right: 0px;
    overflow: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.prof-body {
    position: absolute;
    top: 200px;
    bottom: 250px;
    left: 0px;
    right: 0px;
    overflow: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 250px;
    box-sizing: border-box;
}

.profile-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    width: 200px;
    margin: 10px;
}

.input-box {
    flex-grow: 1;
}

label {
    margin: 10px;
    font-size: 18px;
}

.profile-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: auto;
    flex: 1;
}

.setting-column {
    box-sizing: border-box;
    width: 35%;
}

.list-settings {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.combobox {
    width: -webkit-fill-available;
    height: 50px;
    padding: 5px;
    margin: 20px;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.profile-avatar-small {
    height: 55px;
    margin: 15px;
    object-fit: cover;
}

.currency-location {
    height: 35px;
    margin: 15px;
    object-fit: cover;
}

.profile-small {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    align-items: center;
    justify-content: center;
}

.list-settings p {
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 40px;
    background-size: 15px 15px;
}

.list-settings span {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 10px center;
    height: 60px;
    margin-top: 5px;
    background-size: 20px 20px;
}

.list-settings span:hover {
    border-left: 3px solid black;
    cursor: pointer;
}

.container-reg {
    margin-left: 0;
    position: relative;
    float: left;
    margin-right: 55px;
    display: flex;
    align-items: center;
}

.profile-row {
    margin-bottom: 15px;
}

.profile-input:disabled {
    background-color: #f4f4f4;
    color: #999999;
    /* Add more styles as needed */
}